{% extends "angular_base.html" %}

{% block content %}
    {% verbatim %}
    <div ng-app="fix" layout="column" ng-controller="GlobalController" layout-fill ng-cloak>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSideNav('left')" hide-gt-sm class="menuBtn"
                           aria-label="Toggle Side Navigation">
                <span class="visuallyhidden">
                    <span class="fa fa-bars"></span>
                </span>
                    <md-tooltip>Toggle Side Navigation</md-tooltip>
                </md-button>
                <h1 ng-click="go('')">Family Information Exchange</h1>

                <div flex></div>
                <div class="search-bar" hide show-gt-sm md-no-float layout="row">
                    <div layout="row" layout-align="start center">
                        <span class="fa fa-search"></span>

                        <form novalidate name="headerSearchForm" ng-submit="search(search.text)">
                            <md-input-container class="mar-left">
                                <label for="search">Search</label>
                                <input ng-model="search.text" type="text" id="search" class="white search">
                            </md-input-container>
                        </form>
                    </div>
                </div>

                <div flex hide show-gt-sm></div>
                <div ng-hide="true">
                    <md-button aria-label="Messages" ng-click="go('messages')">
                        <span class="indicator" ng-show="unread">{{ unread }}</span>
                        <span class="fa fa-envelope"></span>
                        <md-tooltip>Messages</md-tooltip>
                    </md-button>
                </div>
                <div ng-controller="NotificationController">
                    <md-button aria-label="Notifications" ng-click="toggleSideNav('notifications')">
                        <span class="indicator" ng-show="notifications && notifications.length > 0">{{ notifications.length }}</span>
                        <span class="fa fa-bell"></span>
                        <md-tooltip>Notifications</md-tooltip>
                    </md-button>
                </div>
                <div>
                    <md-button aria-label="Settings" ng-click="go('settings')" id="settings-header-button">
                        <span class="fa fa-cog"></span>
                        <md-tooltip>Settings</md-tooltip>
                    </md-button>
                </div>
                <md-button aria-label="Sign out" ng-click="signout()">
                    <span class="fa fa-sign-in"></span>
                    <md-tooltip>Sign Out</md-tooltip>
                </md-button>

            </div>
        </md-toolbar>
        <div layout="row" flex>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-sm')">
                <md-toolbar class="md-tall md-hue-1 sidebar-top">
                    <div class="md-toolbar-tools " ng-click="go('my_profile')">
                        <img class="avatar" ng-src="{{ my_profile.thumbnail }}"><span>{{ my_profile.full_name }}</span>
                    </div>
                </md-toolbar>
                <md-content ng-controller="SidebarController">
                    <md-button class="menu-item" ng-repeat-start="menu in sidebarMenus" ng-click="go(menu.link)"
                               aria-label="{{ menu.text }}">
                        <i class="fa" ng-class="menu.icon"></i>
                        {{ menu.text }}
                    </md-button>
                    <md-divider ng-repeat-end></md-divider>
                </md-content>
            </md-sidenav>

            <md-content layout="column" flex class="content-wrapper md-padding" id="content" ng-view ng-cloak>

            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="chat" layout="column"
                        md-is-locked-open="$mdMedia('gt-md')" ng-show="onPage('messages');">
                <md-toolbar layout="row" class="md-hue-1">
                    <h1 class="md-toolbar-tools" layout="row">
                        <span>Conversations</span>

                        <div flex></div>
                        <md-button ng-click="toggleSideNav('chat')" aria-label="Hide Chat Side bar" hide-gt-sm>
                            <i class="fa fa-caret-square-o-right"></i>
                            <md-tooltip>Hide Sidebar</md-tooltip>
                        </md-button>
                    </h1>
                </md-toolbar>
                <md-content md-padding layout="column" layout-fill flex>
                    <md-list>
                        <md-item ng-repeat-start="thread in threads" ng-click="go('messages', thread.uuid)"
                                 class="chat-list-item">
                            <md-item-content layout="column">
                                <span>{{ thread.display.join(',') }}</span>
                                <span>{{ thread.unread }} unread messages</span>
                            </md-item-content>
                        </md-item>
                        <md-divider ng-repeat-end></md-divider>
                    </md-list>
                </md-content>
            </md-sidenav>
        </div>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications" layout="column">
            <md-toolbar layout="row">
                <h1 class="md-toolbar-tools md-accent" layout="row">
                    <span>Notifications</span>

                    <div flex></div>
                    <md-button ng-click="toggleSideNav('notifications')" aria-label="Hide Notifications Side bar">
                        <i class="fa fa-caret-square-o-right"></i>
                        <md-tooltip>Hide Sidebar</md-tooltip>
                    </md-button>
                </h1>
            </md-toolbar>
            <md-content md-padding layout="column" layout-fill flex>
                <md-list>
                    <md-item ng-repeat-start="notification in notifications" ng-click="go(notification.url)"
                             class="notification-list-item">
                        <md-item-content layout="column">
                            <span>{{ notification.action_display }} - {{ notification.user.full_name }}</span>
                            <span> {{ notification.timestamp }}</span>
                        </md-item-content>
                    </md-item>
                    <md-divider ng-repeat-end></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>

    </div>
    {% endverbatim %}
{% endblock content %}
