{% load staticfiles %}
{% load compress %}

{% compress js %}
    <script src="{% static "app/app.js" %}"></script>

    <script src="{% static "app/config/cache.js" %}"></script>
    <script src="{% static "app/config/csrf.js" %}"></script>
    <script src="{% static "app/config/limiter.js" %}"></script>
    <script src="{% static "app/config/logger.js" %}"></script>
    <script src="{% static "app/config/routes.js" %}"></script>
    <script src="{% static "app/config/theme.js" %}"></script>

    <script src="{% static "app/controllers/globalController.js" %}"></script>
    <script src="{% static "app/controllers/homeController.js" %}"></script>

{% endcompress %}