{% extends "angular_base.html" %}

{% block content %}
    {% verbatim %}
    <div ng-app="progstrat_game" layout="column" ng-controller="GlobalController" layout-fill ng-cloak>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSideNav('left')" hide-gt-sm class="menuBtn"
                           aria-label="Toggle Side Navigation">
                <span class="visuallyhidden">
                    <span class="fa fa-bars"></span>
                </span>
                    <md-tooltip>Toggle Side Navigation</md-tooltip>
                </md-button>
                <h1 ng-click="go('')">Progressional Strategy Game</h1>



                <div flex hide show-gt-sm></div>
                <div ng-hide="true">
                    <md-button aria-label="Messages" ng-click="go('messages')">
                        <span class="indicator" ng-show="unread">{{ unread }}</span>
                        <span class="fa fa-envelope"></span>
                        <md-tooltip>Messages</md-tooltip>
                    </md-button>
                </div>
                <div ng-controller="NotificationController">
                    <md-button aria-label="Notifications" ng-click="toggleSideNav('notifications')">
                        <span class="indicator" ng-show="notifications && notifications.length > 0">{{ notifications.length }}</span>
                        <span class="fa fa-bell"></span>
                        <md-tooltip>Notifications</md-tooltip>
                    </md-button>
                </div>
                <div>
                    <md-button aria-label="Settings" ng-click="go('settings')" id="settings-header-button">
                        <span class="fa fa-cog"></span>
                        <md-tooltip>Settings</md-tooltip>
                    </md-button>
                </div>
                <md-button aria-label="Sign out" ng-click="signout()">
                    <span class="fa fa-sign-in"></span>
                    <md-tooltip>Sign Out</md-tooltip>
                </md-button>

            </div>
        </md-toolbar>
        <div layout="row" flex>

            <md-content layout="column" flex class="content-wrapper md-padding" id="content" ng-view ng-cloak>

            </md-content>
        </div>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications" layout="column">
            <md-toolbar layout="row">
                <h1 class="md-toolbar-tools md-accent" layout="row">
                    <span>Notifications</span>

                    <div flex></div>
                    <md-button ng-click="toggleSideNav('notifications')" aria-label="Hide Notifications Side bar">
                        <i class="fa fa-caret-square-o-right"></i>
                        <md-tooltip>Hide Sidebar</md-tooltip>
                    </md-button>
                </h1>
            </md-toolbar>
            <md-content md-padding layout="column" layout-fill flex>
                <md-list>
                    <md-item ng-repeat-start="notification in notifications" ng-click="go(notification.url)"
                             class="notification-list-item">
                        <md-item-content layout="column">
                            <span>{{ notification.action_display }} - {{ notification.user.full_name }}</span>
                            <span> {{ notification.timestamp }}</span>
                        </md-item-content>
                    </md-item>
                    <md-divider ng-repeat-end></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>

    </div>
    {% endverbatim %}
{% endblock content %}

{% block scripts %}
    {% include "game_application_scripts.html" %}
{% endblock scripts %}